<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>wsJuego</servlet-name>
        <servlet-class>Controlador.wsJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wsLogin</servlet-name>
        <servlet-class>Controlador.wsLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wsJugador</servlet-name>
        <servlet-class>Controlador.wsJugador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wsJuego</servlet-name>
        <url-pattern>/wsJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wsLogin</servlet-name>
        <url-pattern>/wsLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wsJugador</servlet-name>
        <url-pattern>/wsJugador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
